# systemd unit configuration file for sensibo_daemon
#

[Unit]
Description=AtmoWiz Daemon
Documentation=https://github.com/evilbunny2008/AtmoWiz/

Requires=network.target time-sync.target mariadb.service
After=network.target time-sync.target mariadb.service

[Service]
ExecStart=/usr/bin/atmowiz.py
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal+console

[Install]
WantedBy=multi-user.target
